<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overwrite.css') }}">
    <title>ハローワーク求人情報検索</title>
 
    {% block head %}{% endblock %}
    </head>

    <body style="background-color:#efefef;">    
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        
        <nav class="navbar-expand-md navbar navbar-light fixed-top" style="background-color:#6d7993">
            <a class="navbar-brand font-weight-bold" href="/" style="color:white;">
                <!--<img src="{{ url_for('static', filename='image/logo.png') }}"  alt="ポートフォリオ">-->
                ポートフォリオ
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsiveNav" aria-controls="responsiveNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="responsiveNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/hellowork" style="color:white;">ハローワーク求人情報検索</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/inquiry" style="color:white;">バグ報告/お問い合わせ</a>
                    </li>
                    <!--<li class="nav-item active">
                        <a class="nav-link" href="/technology" style="color:white;">技術選定について</a>
                    </li>-->
                    <li class="nav-item active">
                        <a class="nav-link" href="https://github.com/TakuyaEE/search-app" style="color:white;">GitHub</a>
                    </li>
                </ul>
            </div>
        
        </nav>

        {% block body %}{% endblock %}
    </body>
</html>