<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>求人情報検索</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overwrite.css') }}">
    {% block head %}{% endblock %}
</head>

<body style="background-color:#efefef;">    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
    <nav class="navbar-expand-md navbar navbar-light fixed-top" style="background-color:#6d7993">
        <a class="navbar-brand font-weight-bold" href="/" style="color:white;">ポートフォリオ</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/hellowork" style="color:white;">ハローワーク求人情報検索</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/inquiry" style="color:white;">バグ報告/お問い合わせ</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}
</html>